<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net451" />
  <package id="AutoFixture.AutoNSubstitute" version="3.50.2" targetFramework="net451" />
  <package id="AutoFixture.Xunit2" version="3.50.2" targetFramework="net451" />
  <package id="Illumina.Common" version="2.8.0.171" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.13.2.254" targetFramework="net451" />
  <package id="Isas.Framework" version="5.7.1.192" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.13.2.254" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net451" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net451" />
</packages>