<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net451" />
  <package id="AutoFixture.AutoNSubstitute" version="3.50.2" targetFramework="net451" />
  <package id="AutoFixture.Xunit2" version="3.50.2" targetFramework="net451" />
  <package id="Illumina.Common" version="2.0.1.46" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.6.1.94" targetFramework="net451" />
  <package id="Isas.Framework" version="5.0.1.51" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.6.1.94" targetFramework="net451" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net451" />
</packages>