<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Illumina.Common" version="2.1.1.89" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.6.0.74" targetFramework="net451" />
  <package id="Isas.Framework" version="5.3.0.94" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.6.0.74" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
</packages>