<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Illumina.Common" version="2.0.5.80" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.7.3.154" targetFramework="net451" />
  <package id="Isas.Framework" version="5.0.3.73" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.7.3.154" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
</packages>