<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Combinatorics" version="1.0.3.2" targetFramework="net451" />
  <package id="Illumina.Common" version="2.0.5.80" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.7.3.154" targetFramework="net451" />
  <package id="Isas.Framework" version="5.0.3.70" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.7.3.154" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net451" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net451" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net451" />
  <package id="System.IO" version="4.1.0" targetFramework="net451" />
  <package id="System.Linq" version="4.1.0" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net451" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net451" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net451" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net451" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net451" />
  <package id="System.Threading" version="4.0.11" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net451" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net451" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net451" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net451" />
</packages>