<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Bioinfo (develop, feature and bugfix branches)" value="https://ussd.artifactory.illumina.com/api/nuget/nuget-bioinformatics" />
    <add key="Bioinfo Internal (long-term stable and pre-release)" value="https://ussd.artifactory.illumina.com/api/nuget/nuget-bioinformatics-internal" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
