<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClassicBioinfoTools" version="0.0.1.56" targetFramework="net451" />
  <package id="Illumina.Common" version="2.3.1.139" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.11.4.232" targetFramework="net451" />
  <package id="Isas.Framework" version="5.4.1.144" targetFramework="net451" />
  <package id="Isas.Manifests" version="2.12.0.43" targetFramework="net451" />
  <package id="Isas.Ploidy" version="1.0.2.31" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.11.4.232" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net451" />
</packages>