<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Combinatorics" version="1.0.3.2" targetFramework="net451" />
  <package id="Illumina.Common" version="2.3.0.122" targetFramework="net451" />
  <package id="Isas.FileCompression" version="3.10.3.207" targetFramework="net451" />
  <package id="Isas.Framework" version="5.4.0.137" targetFramework="net451" />
  <package id="Isas.SequencingFiles" version="3.10.3.207" targetFramework="net451" />
  <package id="MathNet.Numerics.Core" version="3.17.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net451" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net451" />
</packages>